<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Museum van Volkenkunde</title>
    <!-- <link href="/style.css" rel="stylesheet"> -->
    <script src="/index.js"></script>
  </head>
  <body>
    <main>
    </main>
  </body>
</html>
